# Intellij
.idea
*.iml
*iws

# Mac
.DS_Store

/.classpath
/.project
/.settings
/out


# Maven
log/
target/

#output
d-tpp_Metafile.xml

#Hide Credentials
settings.xml
src/main/resources/META-INF/persistence.xml
